@use 'themes'
@use 'sizes'

@mixin display()
    display: flex
    

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

*
    margin: 0
    font-family: 'Roboto', sans-serif

.fa-bars
    display: none

nav
    @include display
    justify-content: center
    align-items: center
    height: 7vh
    width: sizes.$width100
    box-shadow: themes.$nav-shadow

    .nav-container
        width: sizes.$center-size
        @include display
        justify-content: space-between
        align-items: center
        .url-container
            @include display
            flex-direction: row
            column-gap: 2rem
            align-items: center
            a
                text-decoration: none
                color: black
                font-size: .6rem
                letter-spacing: .15rem
                font-weight: bold
                &:hover
                    text-decoration: underline

            img
                width: 32px
                height: 60px

.card-container-color
    background-color: themes.$cards-color
    margin-top: 1.5rem

.card-container
    width: sizes.$center-size
    margin: auto
    padding: 2rem
    @include display
    flex-direction: row
    column-gap: 2rem
    overflow: auto

.card
    flex-shrink: 0
    background-color: white
    width: 13.438rem
    height: 11.938rem
    img
        width: sizes.$width100
        height: calc( sizes.$width100 - 4.25rem )
        opacity: 0.5
        &:hover
            opacity: 1
    div
        @include display
        align-items: center
        position: relative
        left: 1rem
        font-size: .7rem
        height: 4.25rem
        letter-spacing: .15rem

section
    @include display
    flex-direction: column
    align-items: center

.headphone-container
    @include display
    justify-content: space-between
    flex-direction: row
    margin-top: 2rem
    padding: 2rem
    width: sizes.$center-size

.tittle
    width: 80%
    p
        color: gray
.headphone-asaid
    text-align: right
    color: gray

.cards-container
    width: sizes.$center-size
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    column-gap: 1rem

.head-card
    img
        max-width: sizes.$width100
        background-color: themes.$head-card

.card-txt
    @include display
    flex-direction: column
    row-gap: .2rem
    h1
        font-size: .8rem
        letter-spacing: .3rem
    p
        color: gray
    .precio
        color: black

.table-container
    width: sizes.$center-size

    margin-top: 2rem
    letter-spacing: 2px
    table
        td
            padding: 1rem
            text-align: center
            color: gray
            font-size: .8rem
            i
                padding: 1rem
                color: black
            img
                max-width: sizes.$width100
        tr
            box-shadow: themes.$table-shadow

.media-table
    display: none
    font-weight: bold

@media screen and (max-width: 1100px)
    .table-container
        width: 100vw !important
    .media-table
        color: black !important
        display: table-cell !important
    .nav-container
        width: 100vw !important
        display: flex !important
        justify-content: space-between !important
        margin: 0 2rem !important
        a
            display: none
    i
        display: block !important

    #login
        display: none
    #store
        display: none

    .headphone-container
        display: block
        .tittle
            margin-bottom: 1rem
        .headphone-asaid
            p
                font-size: .9rem
    .cards-container
        grid-template-columns: 1fr 1fr

    table
        th
            display: none


@media screen and (max-width: 450px)
    .cards-container
        grid-template-columns: 1fr
